1.What is a parameter?

ans.Hyperparameters are parameters whose values control the learning process and determine the values of model parameters that a learning algorithm ends up learning. The prefix ‘hyper_’ suggests that they are ‘top-level’ parameters that control the learning process and the model parameters that result from it.

As a machine learning engineer designing a model, you choose and set hyperparameter values that your learning algorithm will use before the training of the model even begins. In this light, hyperparameters are said to be external to the model because the model cannot change its values during learning/training.

2.What is correlation?

ans.Correlation measures the relationship, or association, between two variables by looking at how the variables change with respect to each other.

In [11]:
#example,lets take a simple dataset
import numpy as np
import pandas as pd

In [12]:
from sklearn.datasets import fetch_california_housing

In [13]:
data=fetch_california_housing()

In [14]:
df=pd.DataFrame(data.data,columns=data.feature_names)

In [15]:
df.corr() #it shows how to variable are linearly related

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000

What does negative correlation mean?

negative corr means ,with the increase in i unit there is decrease in other variable.
ex-Medinc and HouseAge are negatively related

3.Define Machine Learning. What are the main components in Machine Learning?

ans.Machine learning (ML) is defined as a discipline of artificial intelligence (AI) that provides machines the ability to automatically learn from data and past experiences to identify patterns and make predictions with minimal human intervention

the component of machine learning are:
1.supervised learning: Supervised learning : Supervised learning is a fundamental approach in machine learning where models are trained on labeled datasets. This technique is used.
2.unsupervised learning: Unsupervised learning : Unsupervised learning is a key area of machine learning that focuses on discovering hidden patterns and structures in data without .
3.semisupervised learning: combination of supervised and unsupervised learning.
4.reinforcement learning: Reinforcement Learning. Reinforcement Learning is a type of machine learning algorithms where an agent learns to make successive decisions by interacting

4.How does loss value help in determining whether the model is good or not?

ans.The loss function, also referred to as the error function, is a crucial component in machine learning that quantifies the difference between the predicted outputs of a machine learning algorithm and the actual target values.

ans.For example, within a regression problem to predict car prices based on historical data, a loss function evaluates a neural network prediction based on a training sample from the training dataset. The loss function quantifies the gap or the error margin of the car price predicted by the network to the actual price.

5.What are continuous and categorical variables?

ans.There are three main types of variables: continuous variables can take any numerical value and are measured; discrete variables can only take certain numerical values and are counted; and categorical variables involve non-numeric groups or categories.

In [16]:
df=pd.DataFrame({"key1":[1,2,3,4],"key2":["a","b","a","b"]})

In [17]:
df

   key1 key2
0     1    a
1     2    b
2     3    a
3     4    b

In [18]:
df["key1"] #numerical variable

0    1
1    2
2    3
3    4
Name: key1, dtype: int64

In [19]:
df["key2"] #categorical variable

0    a
1    b
2    a
3    b
Name: key2, dtype: object

6.How do we handle categorical variables in Machine Learning? What are the common t
echniques?

ans.Handling categorical data is crucial because

Algorithms Require Numerical Inputs: Most machine learning algorithms cannot directly process categorical data and need it to be converted into numerical formats.
Inconsistent Categories: Categorical data often contains inconsistencies like typos, case sensitivity, or alternate spellings. These must be standardized to avoid treating them as separate categories.
Remapping Categories: Some categories might need to be grouped for simplicity and relevance. For example remapping rare categories into an "Other" group.
Improves Model Performance: Proper encoding techniques like one-hot encoding or label encoding ensure models understand the relationships of categories leading to better predictions.
Handles Real-World Complexity: Categorical data is used in many domains such as E-commerce, Finance, Healthcare, etc.
In short, handling categorical data correctly ensures models can effectively utilize it

7.What do you mean by training and testing a dataset?

ans.There are two key types of data used for machine learning training and testing data. They each have a specific function to perform when building and evaluating machine learning models. Machine learning algorithms are used to learn from data in datasets. They discover patterns and gain knowledge. make choices, and examine those decisions.

In this article, we will discuss the Difference between training and Testing Data, Why do we need training and Testing Data, and How training and testing data work.

8.What is sklearn.preprocessing?

ans.Methods for scaling, centering, normalization, binarization, and more.

9.What is a Test set?

ans.A test set is defined by splitting the original dataset into distinct partitions. The dataset is typically divided into three parts: the training set, the validation set, and the test set. The training set is used to train the model, the validation set is used for hyperparameter tuning and model selection, and the test set is used to evaluate the final model performance.

10.How do we split data for model fitting (training and testing) in Python?

ans.Random Splitting. Random splitting involves randomly shuffling data and splitting it into training and testing sets based on given percentages (like 75% training and 25% testing)
Stratified Splitting
Time-Based Splitting.

11.Why do we have to perform EDA before fitting a model to the data?

Before fitting any model, it is often important to conduct an exploratory data analysis (EDA) in order to check assumptions, inspect the data for anomalies (such as missing, duplicated, or mis-coded data), and inform feature selection/transformation.

14.How can you find correlation between variables in Python?

In [20]:
from sklearn.datasets import fetch_california_housing

In [21]:
data=fetch_california_housing()

In [23]:
df=pd.DataFrame(data.data,columns=data.feature_names)

In [24]:
df.corr()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000

15 What is causation? Explain difference between correlation and causation with an example.

ans. A branch of ML that aims to estimate causal quantities (for example, ATE and CATE) or to predict potential outcomes. Here, 'causal' implies that the target is a causal quantity when certain assumptions about the data-generating mechanism are satisfied.

16.What is an Optimizer? What are different types of optimizers? Explain each with an example?

17.What is sklearn.linear_model ?

ans.The following are a set of methods intended for regression in which the target value is expected to be a linear combination of the features. In mathematical notation, if is the predicted value

18.What does model.fit() do? What arguments must be given?

model.fit is used to find the optimum solution for the raining data.
model.fit(x,y)

19.What does model.predict() do? What arguments must be given?

ans.model.predict is used to find the predicted value for given input.
model.predict(x_test)

20.What are continuous and categorical variables?

ans.Continuous variables can take any value within a given range and can be divided into an infinite number of possible values. Examples include height, weight, temperature, or time.

Categorical variables are mainly in the form of 'strings' or 'categories' and are finite in number. For example, types of fish, cars, blood groups, places, etc. There are two types of categorical data:- Ordinal: The data that has an inherent order.

21.What is feature scaling? How does it help in Machine Learning?

Feature Scaling: Feature scaling is a method used to standardize the range of independent variables or features of data. In data processing, it is also known as data normalization and is generally performed during the data pre-processing step.

22.How do we perform scaling in Python?

ans.Normalization: This method scales each feature so that all values are within the range of 0 and 1. It achieves this by subtracting the minimum value of the feature and dividing by the range (difference between maximum and minimum values)

In [28]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [35]:
x=df["Latitude"]

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
model=StandardScaler()

23.What is sklearn.preprocessing?

ans.Preprocessing data refers to transforming raw data into a clean data set by filling in missing values, removing repetitive features and making sure all data fits a uniform scale, among other techniques. This way, machine learning algorithms can understand the data and improve their performance as a result.

24.How do we split data for model fitting (training and testing) in Python?

In [41]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [42]:
x=df.iloc[:,:-1]
y=df.iloc[:,0]

In [43]:
y

0        8.3252
1        8.3014
2        7.2574
3        5.6431
4        3.8462
          ...
20635    1.5603
20636    2.5568
20637    1.7000
20638    1.8672
20639    2.3886
Name: MedInc, Length: 20640, dtype: float64

In [46]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

25.Explain data encoding?

ans.Data Encoding: The process of converting data from one form to another, often used for the purposes of data transmission, compression, or security.